<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyCalendarDAO">
    <insert id="insertOne">
        insert into popcorn.mycalendar
        values(#{calendarlogNo}, #{myDate}, #{movieId}, #{memberId})
    </insert>
    <select id="selectOne" resultType="MyCalendarVO">
        select * from popcorn.mycalendar
        where calendarlog_no = #{calendarlogNo}
    </select>
</mapper>