<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BbsCommentDAO">
    <insert id="insertOne">
        insert into popcorn.b_comment
        values(#{bCommentId}, #{bCommentContent}, #{bCommentWriterId}, #{bCommentCreate}, #{bCommentUpdate}, #{bCommentDelete}, #{bCommentIsDeleted})
    </insert>

    <select id="selectOne" resultType="BbsCommentVO">
        select * from popcorn.b_comment
        where b_comment_id = #{bCommentId}
    </select>
</mapper>