<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieDAO">
    <insert id="insertOne">
        insert into popcorn.movie
        values(#{movieid}, #{movieTitle}, #{movieGenre}, #{movieGrade}, #{movieOpen}, #{movieLast}, #{movieStory}, #{movieTime}, #{movieimg}, #{movieActor}, #{movieDirector}, #{movieLike})
    </insert>

    <select id="selectOne" resultType="MovieVO">
        select * from popcorn.movie
        where movieid = #{movieid}
    </select>
</mapper>