<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TheaterDAO">

    <insert id="insertOneTheater">
        insert into popcorn.theater
        values(#{theater_company}, #{theater_id} ,#{theater_name}, #{theater_location}, #{theater_region})
    </insert>
    <select id="selectAllTheater" resultType="com.java4.popcorn.database.theater.TheaterVO">
        select * from popcorn.theater
    </select>
    <select id="selectOneTheater" resultType="com.java4.popcorn.database.theater.TheaterVO">
        select * from popcorn.theater where theater_id = #{theater_id}
    </select>
    <select id="selectTheatersByRegion" resultType="com.java4.popcorn.database.theater.TheaterVO">
        select * from popcorn.theater where theater_region = #{theater_region}
    </select>
<!--    select distinct theater_region  from popcorn.theater t (String!!)-->
    <select id="selectTheaterRegions" resultType="java.lang.String">
        select distinct theater_region from popcorn.theater t
    </select>

</mapper>