<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--   <environments default="development">-->
    <!--      <environment id="development">-->
    <!--         <transactionManager type="JDBC"/>-->
    <!--         <dataSource type="POOLED">-->
    <!--            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
    <!--            <property name="url" value="jdbc:mysql://localhost:3306/"/>-->
    <!--            <property name="username" value="root"/>-->
    <!--            <property name="password" value="314059ac"/>-->
    <!--         </dataSource>-->
    <!--      </environment>-->
    <!--   </environments>-->
    <typeAliases>
        <!--노지인-->
        <typeAlias type="com.java4.popcorn.rankUser.RankUserVO" alias="RankUserVO"/>
        <typeAlias type="com.java4.popcorn.rankMovie.RankMovieVO" alias="RankMovieVO"/>
        <typeAlias type="com.java4.popcorn.rankActor.RankActorVO" alias="RankActorVO"/>
        <typeAlias type="com.java4.popcorn.userSimilarity.UserSimilarityVO" alias="UserSimilarityVO"/>
        <typeAlias type="com.java4.popcorn.movieReco.MovieRecoVO" alias="MovieRecoVO"/>

        <!--나유경-->
        <typeAlias type="com.java4.popcorn.bbs.BbsVO" alias="bbsVO"/>
        <typeAlias type="com.java4.popcorn.bbsComment.BbsCommentVO" alias="BbsCommentVO"/>
        <typeAlias type="com.java4.popcorn.bbsReply.BbsReplyVO" alias="BbsReplyVO"/>

        <!--이시현-->
        <typeAlias type="com.java4.popcorn.member.MemberVO" alias="MemberVO"/>
        <typeAlias type="com.java4.popcorn.movieJjim.MovieJjimVO" alias="MovieJjimVO"/>

        <!--김준명-->
        <typeAlias type="com.java4.popcorn.movieInfo.MovieVO" alias="MovieVO"/>
        <typeAlias type="com.java4.popcorn.actor.ActorVO" alias="ActorVO"/>

        <!--박근우-->
        <typeAlias type="com.java4.popcorn.mycalendar.MyCalendarVO" alias="mycalendarVO"/>
    </typeAliases>


    <mappers>
        <!--노지인-->
        <mapper resource="mappers/rankUserMapper.xml"/>
        <mapper resource="mappers/rankMovieMapper.xml"/>
        <mapper resource="mappers/rankActorMapper.xml"/>
        <mapper resource="mappers/userSimilarityMapper.xml"/>
        <mapper resource="mappers/movieRecoMapper.xml"/>

        <!--나유경-->
        <mapper resource="mappers/bbsMapper.xml"/>
        <mapper resource="mappers/bbsReplyMapper.xml"/>
        <mapper resource="mappers/bbsCommentMapper.xml"/>

        <!--이시현-->
        <mapper resource="mappers/memberMapper.xml"/>
        <mapper resource="mappers/movieJjimMapper.xml"/>

        <!--김준명-->
        <mapper resource="mappers/movieMapper.xml"/>
        <mapper resource="mappers/actorMapper.xml"/>

        <!--박근우-->
        <mapper resource="mappers/mycalendarMapper.xml"/>
<!--        <mapper resource="mappers/moviecalendarMapper.xml"/>-->

        <!--정민기-->
        <mapper resource="mappers/screenMapper.xml"/>
    </mappers>
</configuration>